
// Intro to Mixins!

// Some Sass Variables to name some colors!


//Sass Maps


// Sample Mixin with conditional logic:
// We can pass arguments to a mixin -- here we will pass a boolean.
// The mixin will change the text color of the elements that include this mixin based on the boolean.

// Sample Mixin to generate multiple selectors:

// Use the mixin command and create a name for the mixin

  // In this example, we'll iterate over each key:value pair in our map and create a new rule set for each.
  

// Let's write some scss and include the mixin.
#btn-container {
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: space-between;
  margin: auto;
  width: 300px;
}

.btn {
  flex-basis: 70px;
}

